# Backend
backend/venv/
**/__pycache__/
*.pyc
backend/.env
backend/data/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/frontend/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# OS & Build artifacts
.DS_Store
*.tsbuildinfo
